body {
    background-image: url("diceunsplash.jpg");
}
.game-heading {
    color: #b3046d;
    font-size: 50px;
    font-weight: 900;
    font-family: fantasy, 'Times New Roman', Times, serif;
    padding: 10% 5% 5% 5%;

}
#number-input, #result {
    max-width: 450px;
    margin: auto;
}
#history {
    max-width: 250px;
    margin: auto;
}
#form-submit, #reset-game {
    margin-bottom: 30px;
}
.help-text {
    color: rgb(222, 184, 14);
    padding-bottom: 2px;
}